<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom 3D Order</title>
    <link rel="icon" href="{{ url_for('static', filename='pics/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        canvas {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="custom-container">
        <h1>CUSTOM 3D ORDER</h1>

        <div id="canvas-wrapper">
            <canvas id="canvas" width="400" height="400"></canvas>
        </div>

        <button onclick="undoLast()">Delete Last</button>
        <button onclick="clearCanvas()">Delete All</button>

        <form id="submitForm" enctype="multipart/form-data">
            <label for="description">Opis:</label>
            <textarea id="description" rows="4" cols="40"></textarea>
            <label for="file">Izberi datoteko:</label>
            <input type="file" id="file" name="file" accept="image/*">
            <img id="preview" src="" style="display:none;">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="phone">Telefonska:</label>
            <input type="tel" id="phone" name="phone" required>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        const canvas = document.getElementById("canvas");
        const ctx = canvas.getContext("2d");
        let drawing = false;
        let hasDrawn = false;

        canvas.addEventListener("mousedown", (e) => {
            if (e.button !== 0) return;
            drawing = true;
            hasDrawn = false
            
            const rect = canvas.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            ctx.beginPath();
            ctx.moveTo(x, y);
        });
        canvas.addEventListener("mouseup", () => {
             if (drawing && hasDrawn) {
                saveState();
                hasDrawn = false;
             }
             drawing = false;
            ctx.beginPath();
        });
        canvas.addEventListener("mouseout", () => {
            drawing = false;
            ctx.beginPath();
        });
        canvas.addEventListener("mousemove", (e) => {
            if(drawing) draw(e);
        });
        const history = [];
        history.push(canvas.toDataURL());

        function draw(e) {
            const rect = canvas.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            ctx.lineWidth = 2;
            ctx.lineCap = "round";
            ctx.strokeStyle = "black";

            ctx.lineTo(x, y);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(x, y);

            hasDrawn = true;

        }

        function saveState() {
                history.push(canvas.toDataURL());
            }
        

        function undoLast() {
            if (history.length > 0) {
                history.pop();
                const previous = history[history.length -1];
                const img = new Image();
                img.onload = () => {
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    ctx.drawImage(img, 0, 0);
                }
                img.src = previous;
            }else {
                clearCanvas();
            }
        }
        function clearCanvas() {
            ctx.clearRect(0, 0 ,canvas.width, canvas.height);
            history.length = 0;
        }
                function saveData() {
                    const imageData = canvas.toDataURL();
                    const description = document.getElementById("description").value;

                    console.log({ imageData, width, height, description});
                    alert("Data collected (next step: send to server)");
                }
        document.getElementById("file").addEventListener("change", function(event) {
            const file = event.target.files[0];
            const preview = document.getElementById("preview");
            
            if (file && file.type.startsWith("image/")) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = "block";
                };
                reader.readAsDataURL(file);
            } else {
                preview.style.display = "none";
            }
        });
        document.getElementById("submitForm").addEventListener("submit", function(event) {
    event.preventDefault();

    const email = document.getElementById("email").value.trim();
    const phone = document.getElementById("phone").value.trim();

    if (!email|| !phone ) {
        alert("Prosim izpolni email in telefonsko številko da Vas lahko kontaktiramo.")
        return;
    }

    const formData = new FormData();
    const fileInput = document.getElementById("file");
    if (fileInput.files.length > 0) {
        formData.append("file", fileInput.files[0]);
    }
    formData.append("description", document.getElementById("description").value);
    formData.append("canvas_image", canvas.toDataURL());
    formData.append("email", document.getElementById("email").value);
    formData.append("phone", document.getElementById("phone").value);

    fetch("/submit", {
        method: "POST",
        body: formData
    })
    .then(response => response.text())
    .then(data => {
        alert(data);
    })
    .catch(error => {
        alert("Error: " + error);
    });
});
    </script>
</body>
</html>